"atom-text-editor.keyano.keymap-QWERTY":
  "æ": "keyano:select-next"
  "shift-æ": "keyano:add-next"
  "ctrl-æ": "keyano:select-next-after"
  "ctrl-shift-æ": "keyano:add-next-after"
  "j": "keyano:select-previous"
  "shift-j": "keyano:add-previous"
  "ctrl-j": "keyano:select-previous-after"
  "ctrl-shift-j": "keyano:add-previous-after"
  "n": "keyano:select-all-in"
  "p": "editor:toggle-line-comments"
  "z": "core:undo"
  "x": "keyano:delete-selections"
  "c": "core:copy"
  "v": "keyano:paste"
  "o": "keyano:expand"
  "a": "keyano:set-selector-char"
  "s": "keyano:set-selector-word"
  "d": "keyano:set-selector-line"
  "w": "keyano:set-selector-number"
  "r": "keyano:set-selector-parentheses"
"atom-text-editor.keyano.keymap-Colemak":
  "o": "keyano:select-next"
  "shift-o": "keyano:add-next"
  "ctrl-o": "keyano:select-next-after"
  "ctrl-shift-o": "keyano:select-next-after"
  "n": "keyano:select-previous"
  "shift-n": "keyano:add-previous"
  "ctrl-n": "keyano:select-previous-after"
  "ctrl-shift-n": "keyano:add-previous-after"
  "k": "keyano:select-all-in"
  ";": "editor:toggle-line-comments"
  "z": "core:undo"
  "x": "keyano:delete-selections"
  "c": "core:copy"
  "v": "keyano:paste"
  "y": "keyano:expand"
  "a": "keyano:set-selector-char"
  "r": "keyano:set-selector-word"
  "s": "keyano:set-selector-line"
  "w": "keyano:set-selector-number"
  "p": "keyano:set-selector-parentheses"
"atom-text-editor":
  "alt-escape": "keyano:toggle"
