"atom-text-editor.keyano":
  "æ": "keyano:select-next"
  "j": "keyano:select-previous"
  "w": "keyano:set-selector-word"
  "q": "keyano:set-selector-line"
  "e": "keyano:set-selector-parentheses"
"atom-text-editor":
  "alt-escape": "keyano:toggle"
